altair
attrs
blinker
cachetools
charset-normalizer
click
colorama
commonmark
cycler
decorator
entrypoints
fonttools
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
kiwisolver
lxml
MarkupSafe
matplotlib
multitasking
numpy
packaging
pandas
patsy
Pillow
plotly
plotly-express
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyportfolioopt
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
scikit-learn
scipy
semver
six
smmap
statsmodels
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yfinance
zipp
